atomicwrites
attrs
beautifulsoup4
chardet
Django>=4.2,<5.0
gunicorn
idna
Js2Py
more-itertools
numpy
pandas
pluggy
py
pyjsparser
pytest
python-dateutil
pytz
requests
scikit-learn
scipy
six
tzlocal
urllib3
watson-developer-cloud
websocket-client
whitenoise
psycopg2-binary
